@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  background-color: hsl(30, 54%, 90%);
}

.img {
  height: 260px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  background-color: white;
  border-radius: 40px;
  width: 650px;
  margin: 20px;
}

.card, .body, .card1, .card2, .card4, .card3, .card6, .card7 {
  background-color: white;
  border-radius: 60px;

}

.body {
  height: 25%;
  width: 37%;
  margin: 100px;
  margin-left: 500px;
  border-radius: 50px;
}
.card1 {
 margin: 10px;
 font-size: 40px;
 color: hsl(24, 5%, 18%);
 font-weight: bolder;
}

.card2 {
  margin: 10px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: hsl(30, 10%, 34%);
}

.card4 {
  background-color: hsl(330, 100%, 98%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
  border-radius: 50px;
}

.card3 {
  background-color: hsl(330, 100%, 98%);
  color: hsl(332, 51%, 32%);
  border-radius: 20px;
}

.card6 {
  margin: 10px;
  color: hsl(14, 45%, 36%);
  font-weight: bolder;
}

.card7 {
  margin: 15px;
  color: hsl(14, 45%, 36%);
  font-weight: bolder;
}

